/*
Comments for CSS 
*/
p{
    font-family: Roboto, sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
}

body{
    margin: 0px;
    padding-top: 80px;
    padding-left: 96px;
    padding-right: 24px;
    background-color: rgb(236, 236, 236);
}

a {
    text-decoration: none;
    color: inherit;
}